name: Build (Desktop)
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-desktop:
    runs-on: windows-2019
    env:
      VisualStudioVersion: '16.0'

    steps:
    - name: Checkout source
      uses: actions/checkout@v3
    - name: Setup ROS2
      uses: ros-tooling/setup-ros@v0.6
      with:
        required-ros-distributions: foxy
    - uses: ros-tooling/action-ros-ci@v0.3
      id: action_ros_ci_step
      with:
        package-name: rcldotnet_examples
        target-ros2-distro: foxy
        vcs-repo-file-url: ${{github.workspace}}/.github/workflows/ci.repos
        extra-cmake-args: -DCMAKE_SYSTEM_VERSION=10.0.19041.0 -Wno-dev
    - uses: actions/upload-artifact@v4
      with:
        name: colcon-logs
        path: ${{ steps.action_ros_ci_step.outputs.ros-workspace-directory-name }}/log
      if: always() # upload the logs even when the build fails
