name: Build (Linux)
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-linux:
    runs-on: ubuntu-20.04

    steps:
    - name: Checkout source
      uses: actions/checkout@v2

    # https://docs.microsoft.com/en-us/dotnet/core/install/linux-package-manager-ubuntu-1804
    - name: Install .NET SDK v2.1
      run: |
        wget https://packages.microsoft.com/config/ubuntu/18.04/packages-microsoft-prod.deb -O packages-microsoft-prod.deb
        sudo dpkg -i packages-microsoft-prod.deb
        sudo add-apt-repository universe
        sudo apt-get update
        sudo apt-get install -y apt-transport-https
        sudo apt-get update
        sudo apt-get install -y dotnet-sdk-2.1

    - name: Setup ROS2
      uses: ros-tooling/setup-ros@v0.6
      with:
        required-ros-distributions: foxy

    - name: Configure ros2_dotnet workspace
      run: |
        mkdir -p ~/ros2_dotnet_ws/src
        cd ~/ros2_dotnet_ws
        cp ${{github.workspace}}/ros2_dotnet.repos .
        vcs import src < ros2_dotnet.repos
        rm -rf src/ros2_dotnet/ros2_dotnet
        cp -r ${{github.workspace}} src/ros2_dotnet/ros2_dotnet
        vcs branch

    - name: Build ros2_dotnet source
      run: |
        source /opt/ros/foxy/setup.bash
        cd ~/ros2_dotnet_ws
        colcon build --event-handlers console_cohesion+ console_package_list+

    - name: Run tests
      run: |
        source /opt/ros/foxy/setup.bash
        cd ~/ros2_dotnet_ws
        colcon test --event-handlers console_cohesion+ --return-code-on-test-failure --packages-select rcldotnet
